{% extends "base_template.html" %}
{% load staticfiles %}

{% block content %}

    <div class="col-sm-6 mx-auto">
        <div class="card">
            <div class="card-body">
                <h3 class="card-title">Login</h3>
                {% if messages %}
                <ul class="messages">
                    {% for message in messages %}
                    <li{% if message.tags %} class="{{ message.tags }}"{% endif %} style="color:Red;">{{ message }}</li>
                    {% endfor %}
                </ul>
                {% endif %}
                <form method="post" action="" class="form-horizontal">
                        {% csrf_token %}
                            {{ form.as_p }}
                            <div class="form-group text-center">
                                <button type="submit" class="btn btn-primary">Login</button>
                            </div>
                    
                            <hr />
                            
                            <div class="form-group">
                                <a href="#">Forgot password or username?</a>
                            </div>
                    </form>
            </div>
        </div>
    </div>

{% endblock %}
